<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="post-form" action="/admin/<% if (editing) { %>edit-post<% } else { %>add-post<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= post.title %><% } %>">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= post.imageUrl %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <!-- <div class="form-control">
                <label for="price">Con</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= post.price %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="content">Content</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'content') ? 'invalid' : '' %>"
                    name="content" 
                    id="content" 
                    rows="8"><% if (editing || hasError) { %><%= post.content %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= post._id %>" name="postId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Post<% } else { %>Add Post<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>